<div class="container">
  <form id="login" [formGroup]="login">
    <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password">
  </mat-form-field>
  <button mat-raised-button color="warn">LOGIN</button>
</form>
</div>