<div class="question" >
    <h2>Are you sure?</h2>
    <div class="actions" >
        <button mat-raised-button (click)="closeDialog()">No</button>
        <button mat-raised-button color="primary" (click)="deleteUser(data)">Yes</button>
    </div>
</div>