<form class="edit-dialog" [formGroup]="form" (ngSubmit)="saveEdit(form.value)">
    <h2>Edit User</h2>
    <div class="mat-dialog-content">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
    </div>
    <div class="mat-dialog-actions">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>