.edit-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mat-dialog-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        mat-form-field{
            width: 10rem;
            text-align: center;
            input{
                width: 100%;
            }
        }
    }
}