.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid #000;
    #form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 1.3em;
      margin-bottom: 2rem;
      width: 25rem;
      border: 1px solid #000;
      mat-form-field{
        width: 80%;
      }
    }
  }
  